.products {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    flex-flow: wrap;
  }

.products_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row;
}

.product_buttons {
    display: flex;
    flex-flow:wrap;
    flex-direction:row;
    justify-content: space-around;
}

  
#details{
    margin-left: 105px;
    color: white;
    cursor: pointer; 
}

.card-img-top{
    width: 250px;
    height: 250px;
}