{% extends 'base.html'%}

{% block content %}

<h2 style="text-align: center;">Your Cart</h2>
<div class="cart">
    <ul>
        {% for cart in usercart %}
        
        <li><img src="{{ cart.item.image }}" alt="" style="width: 225px; height:225px;"> {{ cart.item.product_name }} - ${{ cart.item.price }}</li>
        {% endfor %}
    </ul>
    
    
</div>
<div>
<p id="total">Total: ${{ total }}</p>
</div>

<button type="submit" class="btn btn-primary" id="checkout">Checkout</button>


{% endblock %} 