{% extends 'base.html'%}

{% block content %}

<h2 style="text-align: center;">Your Cart</h2>
<div class="cart">
    <ul>
        {% for cart in usercart %}
        
        <li><a type="button" class="btn btn-danger" href="/removefromcart/{{ cart.id }}">Remove Item</a><img src="{{ cart.item.image }}" alt="" style="width: 225px; height:225px;"> {{ cart.item.product_name }} - ${{ cart.item.price }} </li>
        {% endfor %}
    </ul>
    
    
</div>
<div>
<p id="total">Total: ${{ total }}</p>
</div>

<!--btn for modal-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="checkout">
    Checkout
  </button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="creditCard" class="form-label">Credit Card Number</label>
              <input type="text" class="form-control" id="creditCard" required>
            </div>
            <div class="mb-3">
              <label for="expiryDate" class="form-label">Expiration Date</label>
              <input type="text" class="form-control" id="expiryDate" required>
            </div>
            <div class="mb-3">
              <label for="cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cvv" required>
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <textarea class="form-control" id="address" required></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="checkout" onclick="emptyCart()">Checkout</button>
        </div>
      </div>
    </div>
  </div>
  


{% endblock %} 