{% extends 'base.html' %}

{% block content %}
<div class="card" style="width: 20rem;" id="products">
    <span class="border-bottom" style="color: black;">
    <img src="https://cdn.discordapp.com/attachments/1004495634113511607/1099505274882109471/traviistea_t-shirt_merch_product_image_5d4ed7f5-9e54-4d0b-a7e7-10791ac474ab.png" class="card-img-top" alt="...">
    </span>
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
            <span>Price: </span>
            <a class="btn btn-primary" href="#" role="button" id="details">More Details</a>
    </div>
</div>
{% endblock %}