{% extends 'base.html' %}

{% block content %}

<div class="products_container">
    {% for product in products %}
    <div class="card products" style="width: 20rem;">
        <span class="border-bottom" style="color: black;">
            <img src="{{ product.image }}" class="card-img-top" alt="...">
        </span>
        <div class="card-body">
            <div style="display: flex; justify-content:space-between">
                <p class="card-text">{{ product.product_name }}</p>
                <p>${{ product.price }}</p>
            </div>
            <div class="product_buttons">
                <a class="btn btn-primary" href="{{ url_for('product_detail', product_id=product.id) }}" role="button">More Details</a>
                <a class="btn btn-primary" href="/addtocart/{{ product.id }}" role="button">Add to Cart</a>
                {% if admin == True %}
                <a class="btn btn-primary" href="/edititem/{{ product.id }}" role="buttom">Edit Item</a>
                <a class="btn btn-danger" href="/remove/{{ product.id }}" role="button">Delete Item</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

