{% extends 'base.html' %}

{% block content %}

<div class="products_container">
    {% for product in products %}
    <div class="card products" style="width: 20rem;">
        <span class="border-bottom" style="color: black;">
            <img src="{{ product.image }}" class="card-img-top" alt="...">
        </span>
        <div class="card-body">
            <p class="card-text">{{ product.product_name }}</p>
            <span>Price: ${{ product.price }}</span>
            <div class="product_buttons">
                <a class="btn btn-primary" href="#" role="button" id="details">More Details</a>
                {% if admin == True %}
                <a class="btn btn-primary" href="/edititem/{{ product.id }}" role="buttom" id="details">Edit Item</a>
                <a class="btn btn-danger" href="/remove/{{ product.id }}" role="button" id="details">Delete Item</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}